  @import "../../assets/stylus/mixins.styl"
  .cate_hd
    position fixed!important
    top 0
    left 0
    width 100%
    z-index 100
    height (43/$unit)
    background-color #fff
    .searchContainer
      position relative
      top -(4/$unit)
      left 0
      z-index 100
      text-align center
      margin (10/$unit) (10/$unit)
      background-color #ededed
      height (28/$unit)
      line-height (28/$unit)
      border-radius (4/$unit)
      i
        font-size (18/$unit)
        line-height (28/$unit)
