@import "../../assets/stylus/mixins.styl"
.loginContainer
  width 100%
  height (667/$unit)
  background #fff
  .loginInner
    padding-top 60px
    width 80%
    margin 0 auto
    .login_header
      .login_logo
        font-size 20px
        font-weight bold
        color #B4282D
        text-align center
      .login_header_title
        padding-top 40px
        text-align center #B4282D
        > a
          color #333
          font-size 14px
          padding-bottom 4px
          &:first-child
            margin-right 40px
          &.on
            color #B4282D
            font-weight 700
            border-bottom 2px solid #B4282D
    .login_content
      > form
        > div
          display none
          &.on
            display block
          input
            width 100%
            height 100%
            padding-left 10px
            box-sizing border-box
            border 1px solid #ddd
            border-radius 4px
            outline 0
            font 400 14px Arial
            &:focus
              border 1px solid #B4282D
          .login_message
            position relative
            margin-top 16px
            height 48px
            font-size 14px
            background #fff
            .get_verification
              position absolute
              top 50%
              right 4px
              display inline-block
              height 36px
              width 78px
              transform translateY(-50%)
              border 0
              color #ccc
              font-size 12px
              background transparent
              &.captcha
                background-image url("./capture/6EF8.png")
                background-size 100% 100%
              &.right_phone_number
                color #000
          .login_verification
            position relative
            margin-top 16px
            height 48px

            font-size 14px
            background #fff
            .switch_button
              font-size 10px
              border 1px solid #ddd
              border-radius 8px
              transition background-color .3s, border-color .3s
              padding 0 6px
              width 30px
              height 16px
              line-height 16px
              color #fff
              position absolute
              top 50%
              right 10px
              transform translateY(-50%)
              &.off
                background #fff
                .switch_text
                  float right
                  color #ddd
              &.on
                background #B4282D
              > .switch_circle
                position absolute
                top -1px
                left -1px
                width 16px
                height 16px
                border 1px solid #ddd
                border-radius 50%
                background #fff
                box-shadow 0 2px 4px 0 rgba(0, 0, 0, .1)
                transition transform .3s
                &.right
                  transform translateX(27px)

          .login_hint
            margin-top 12px
            color #999
            font-size 14px
            line-height 20px
            > a
              color #B4282D
        .login_submit
          display block
          width 100%
          height 42px
          margin-top 30px
          border-radius 4px
          background #B4282D
          color #fff
          text-align center
          font-size 16px
          line-height 42px
          border 0
      .about_us
        display block
        font-size 12px
        margin-top 20px
        text-align center
        color #999
    .go_back
      position absolute
      top 5px
      left 5px
      width 30px
      height 30px
      > .iconfont
        font-size 20px
        color #999