@import "../../../assets/stylus/mixins.styl"
$unit = (375/10)rem;
/*新品首发 人气推荐 好物精选*/
  .m_floor
    box-sizing border-box
    margin (10/$unit) 0
    background #fff
    .hd
      position relative
      background-image url("../../../assets/imgs/bg_new.png")!important
      background-size (75/$unit) (38/$unit)
      height (130/$unit)!important
      margin-bottom (16/$unit)
      line-height 3.5
      &.popu
        background-image url("../../../assets/imgs/bg_populay.png")!important
      .more
        display block
        text-align center
        margin 0 auto
        width (160/$unit)
        span
          font-size 0.48rem
          color #8BA0B6
        .all
          position relative
          box-sizing border-box
          margin (8/$unit) auto 0
          width 3.2rem
          height (28/$unit)
          line-height (28/$unit)
          background #D8E5F1
          .wrap
            position absolute
            left 0
            top 0
            width 3.2rem
            height (28/$unit)
            text-align center
            margin -(14/$unit) auto
            background #D8E5F1
            span
              font-size (14/$unit)
            i
              font-size (12/$unit)
    .specification
      position absolute
      top 0
      border-style solid
      border-color #b4a078
      width (16/$unit)
      margin (5/$unit) 0 0 (5/$unit)
      padding 0.14rem 0
      display flex
      flex-direction column
      border-width 0.5px
      border-radius (2/$unit)
      div
        color #b4a078
        font-size (12/$unit)
    .m_goodGrid
      height (240/$unit)
      background #fff
      width 100%
      overflow hidden
      .slideContainer
        margin 0 auto
        overflow hidden
        width 100%
        height (240/$unit)
        .list
          float left
          height (240/$unit)
          white-space nowrap
          .item
            background-color blanchedalmond
            display inline-block
            padding 0!important
            margin-left 0.4rem
            width (140/$unit)
            height (240/$unit)
            overflow hidden
            background #fff
            .good
              display block
              height (140/$unit)
              width 100%
              &.more
                border (4/$unit) solid #F4F4F4
                .text
                  display block
                  height (140/$unit)
                  line-height (140/$unit)
                  text-align center!important
                  color #666
                  font-size (14/$unit)
              .picWrap
                background-color #f4f4f4
                height (140/$unit)
                width 100%
                img
                  height (140/$unit)
                  width (140/$unit)
              .des
                margin (5/$unit) 0
                padding (5/$unit)
                font-size (14/$unit)
                line-height (17/$unit)
                text-align left
                p
                  margin-left 0.16rem
                  height 0.5rem
                  line-height 0.5rem
                  text-align center
                  vert-align middle
                  font-size (10/$unit)
                  color #fff

                  &.status_orange
                    background-color #f48f18
                    width (40/$unit)
                  &.status_red
                    background-color #e5686d
                    width (36/$unit)
                span
                  display block
                  white-space nowrap
                  overflow hidden
                  text-overflow ellipsis
                  color #333
                .newItemDesc
                  margin-bottom (7/$unit)
                  padding (5/$unit)
                  line-height 0.4rem
                  white-space nowrap
                  overflow hidden
                  text-overflow ellipsis
                  color #7f7f7f

